noSelect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

codingMonkeyBackground() {
  background-image: url("https://dn-coding-net-production-static.qbox.me/static/cb75498a0ffd36e2c694da62f1bdb86c.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

// https://css-tricks.com/snippets/css/clear-fix/
clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
