margin-lr($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

margin-tb($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

padding-lr($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

padding-tb($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}
