.dash-workspace .ws-card {
    width: calc(33.33% - 20px);
    height: 100px;
    margin: 0 10px 20px;
    position: relative;
}
.dash-workspace .ws-card .inner {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 100%;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    color: #ccc;
    background-color: #3b3b3b;
    cursor: pointer;
    transition: background-color .5s ease;
}
.dash-workspace .ws-card .inner:hover {
    background-color: #555;
}
.dash-workspace .ws-card .badge {
    padding: 12px 12px 0 2px;
    position: absolute;
    top: 0;
    right: 0;
}
.dash-workspace .ws-card .badge img {
    height: 16px;
    vertical-align: middle;
}
.dash-workspace .ws-card .title {
    width: calc(100% - 20px);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dash-workspace .ws-card .desc {
    width: 100%;
    color: #b1b1b1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dash-workspace .ws-card .status {
    display: flex;
    align-items: center;
    width: 100%;
    height: 18px;
}
.dash-workspace .ws-card .state {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 12px;
}
.dash-workspace .ws-card .state.off {
    display: none;
}
.dash-workspace .ws-card .state .dot {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 50%;
}
.dash-workspace .ws-card .state .dot.green {
    background-color: #2bd37d;
}
.dash-workspace .ws-card .state .dot.red {
    background-color: #db178c;
}
.dash-workspace .ws-card .control {
    display: flex;
    padding: 2px 12px 12px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.dash-workspace .ws-card .control .act {
    margin-left: 10px;
    color: #aaa;
    cursor: pointer;
}
.dash-workspace .ws-card .control .act:hover {
    color: #fff;
}
.dash-workspace .ws-card .control i {
    padding-right: 3px;
}

.dash-workspace .deleted .ws-card .inner {
    cursor: default;
}
.dash-workspace .deleted .ws-card .inner:hover {
    background-color: #3b3b3b;
}
.dash-workspace .deleted .ws-card .title {
    color: #9d9d9d;
}
.dash-workspace .deleted .ws-card .desc {
    color: #757575;
}

@media screen and (min-width: 1800px) {
    .dash-workspace .ws-card {
        height: 120px;
    }
    .dash-workspace .ws-card .title {
        font-size: 18px;
    }
}
@media screen and (max-width: 1150px) {
    .dash-workspace .ws-card {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 860px) {
    .dash-workspace .ws-card {
        width: 100%;
    }
}
