.menu-bar {
  background-color: $base-top-menu-bar-background;
  border-color: gray(80%);
  color: #FFF;
}

.status-bar {
  border-color: $base-border-color;
  background-color: $base-top-menu-bar-background;
  color: #FFF;
}

.breadcrumbs {
  background-color: $menu-background-color;
  border-color: $base-border-color;
  .crumb {
    background-color: #51A8F9;//$menu-background-color;
    color: #FFF;
    &:before {
      border-left-color: $base-border-color;
    }
    &:after {
      border-left-color: #51A8F9;//$menu-background-color;
    }
  }
}
