.bind-domain-panel {
    color: #333;
    .panel-heading {
        background-color: #f5f5f5;
    }
    .panel-list {
        .table {
            td, th {
                border: 1px solid #f5f5f5;
            }
        }
    }
}
