.file-palette-modal {
    .board {
        border-top-color: $tool-panel-border-color;
        border-bottom-color: $tool-panel-border-color;
        .files {
            .file {
                background-color: $inset-panel-background-color;
                &.selected {
                    background-color: $ui-site-color-2;
                }
            }
        }
    }
}
