$text-color           = hsl(0,0%,66%);
$text-color-subtle    = hsl(0,0%,50%);
$text-color-highlight = hsl(0,0%,94%);
$text-color-selected  = hsl(0,0%,100%);

$text-color-info      = hsl(219,  79%, 66%);
$text-color-success   = hsl(140,  44%, 62%);
$text-color-warning   = hsl( 36,  60%, 72%);
$text-color-error     = hsl(  9, 100%, 64%);

$base-background-color = hsl(222,6%,22%);
$base-border-color     = darken($base-background-color, 8%);

// panel
$panel-background-color = $base-background-color;
$panel-border-color     = $base-border-color;

$menu-background-color  = gray(15%); // $base-background-color;

// tabs
$tab-bar-background-color    = $base-background-color;
$tab-bar-border-color        = $base-border-color;
$tab-background-color        = $tab-bar-background-color;
$tab-background-color-active = lighten($tab-bar-background-color, 10%);
$tab-border-color            = $base-border-color;

$tab-height = 30px;

// size
$font-size = 12px;
