.dash-setmyplugin .no-version-history {
    width: 100%;
    padding-top: 60px;
    text-align: center;
    font-size: 18px;
    color: #a1a1a1;
}
.dash-setmyplugin .versions-table {
    width: 100%;
    margin-top: 40px;
    overflow: auto;
    border-collapse: collapse;
}
.dash-setmyplugin .versions-table tr {
    background-color: #333;
}
.dash-setmyplugin .versions-table tr th,
.dash-setmyplugin .versions-table tr td {
    padding: .5em;
    line-height: 1.5;
    border: 1px solid #555;
}
.dash-setmyplugin .versions-table tr td:nth-child(1) {
    width: 60px;
}
.dash-setmyplugin .versions-table tr td:nth-child(3) {
    width: 100px;
}
.dash-setmyplugin .versions-table tr td:nth-child(5) {
    width: 160px;
}
.dash-setmyplugin .versions-table thead tr {
    background-color: #434343;
}
