.dash-setmyplugin .versions-table {
    width: 100%;
    margin-top: 40px;
    overflow: auto;
    border-collapse: collapse;
}
.dash-setmyplugin .versions-table tr {
    background-color: #333;
}
.dash-setmyplugin .versions-table tr th,
.dash-setmyplugin .versions-table tr td {
    padding: .5em;
    line-height: 1.5;
    border: 1px solid #555;
}
.dash-setmyplugin .versions-table thead tr {
    background-color: #434343;
}
