.dash-setmyplugin .no-version-history {
    width: 100%;
    padding-top: 60px;
    text-align: center;
    font-size: 18px;
    color: #a1a1a1;
}
.dash-setmyplugin .history .table-wrap {
    width: 100%;
    padding: 40px 0 5px;
    overflow: auto;
}
.dash-setmyplugin .history .versions-table {
    min-width: 100%;
    border-collapse: collapse;
}
.dash-setmyplugin .versions-table tr {
    background-color: #333;
}
.dash-setmyplugin .versions-table tr th,
.dash-setmyplugin .versions-table tr td {
    padding: .5em;
    line-height: 1.5;
    border: 1px solid #555;
}
.dash-setmyplugin .versions-table tr td:nth-child(1) {
    min-width: 60px;
}
.dash-setmyplugin .versions-table tr td:nth-child(2) {
    min-width: 200px;
    max-width: 600px;
    word-break: break-all;
}
.dash-setmyplugin .versions-table tr td:nth-child(3) {
    min-width: 150px;
}
.dash-setmyplugin .versions-table tr td:nth-child(4) {
    min-width: 200px;
    max-width: 600px;
    word-break: break-all;
}
.dash-setmyplugin .versions-table tr td:nth-child(5) {
    min-width: 160px;
}
.dash-setmyplugin .versions-table thead tr {
    background-color: #434343;
}
.dash-setmyplugin .versions-table .log {
    padding: 0 2px;
    margin-left: 8px;
    border: 1px solid #555;
    color: #f44;
    cursor: pointer;
}
.dash-setmyplugin .versions-table .fa {
    margin-right: 2px;
}
.dash-setmyplugin .history .pop {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.dash-setmyplugin .history .terminal {
    width: 1200px;
    height: 800px;
    border: 1px solid #272727;
    border-radius: 6px;
    background-color: #000;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 600px);
}
.dash-setmyplugin .history .terminal .title {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 5px;
    background-color: #e2e0e2;
}
.dash-setmyplugin .history .terminal .dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: 1px solid;
    border-radius: 50%;
}
.dash-setmyplugin .history .terminal .dot.red {
    border-color: #e14631;
    background-color: #ff6058;
}
.dash-setmyplugin .history .terminal .dot.orange {
    border-color: #e0a114;
    background-color: #ffbe2e;
}
.dash-setmyplugin .history .terminal .dot.green {
    border-color: #16ad29;
    background-color: #2aca41;
}
.dash-setmyplugin .history .terminal .content {
    width: 100%;
    height: calc(100% - 24px);
    padding: 5px;
    font-size: 16px;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-y: auto;
}
.dash-setmyplugin .history .dismiss {
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #000;
    background-color: #999;
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform .2s ease;
    position: absolute;
    bottom: calc(50% - 450px);
    left: calc(50% - 20px);
}
.dash-setmyplugin .history .dismiss:hover {
    transform: rotate(135deg);
}

@media screen and (max-width: 1200px) {
    .dash-setmyplugin .history .terminal {
        width: calc(100% - 20px);
        left: 10px;
    }
}
@media screen and (max-height: 920px) {
    .dash-setmyplugin .history .terminal {
        height: calc(100% - 70px);
        top: 10px;
    }
    .dash-setmyplugin .history .dismiss {
        bottom: 10px;
    }
}
