@import 'ui-variables';
@import "mixins";
@import 'scaffolding';

@import "core-ui"

.hidden {display: none !important;}

.workstation {
  @import 'bootstrap/normalize';
  @import 'normalize';
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.utilities-container {
  isolation: isolate;
  z-index: z(utilities-container);
}
