@import 'bootstrap/normalize';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/scaffolding';

@import 'bootstrap/grid';
@import 'bootstrap/buttons';
@import 'bootstrap/forms';

@import 'normalize';
@import 'ui-variables';
@import "mixins";
@import 'scaffolding';

@import "core-ui"

@import "../../node_modules/fixed-data-table/dist/fixed-data-table.min.css"

@import "../../node_modules/codemirror/lib/codemirror.css"
@import "../../node_modules/codemirror/theme/monokai.css"
@import "../../node_modules/codemirror/theme/material.css"
@import "../../node_modules/codemirror/theme/neo.css"
@import "../../node_modules/codemirror/theme/eclipse.css"


.hidden {display: none !important;}

.ide-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.utilities-container {
  isolation: isolate;
  z-index: z(utilities-container);
}
