@mixin position($position, $args) {
  position: $position;

  @if length($args) != 0 {
    $unitOnly: true;
    @for $i from 1 through length($args) {
      @if type-of(nth($args, $i)) != 'number' {
        $unitOnly: false;
      }
    }

    @if $unitOnly {
      @if length($args) == 1 {
        top: nth($args, 1);
        right: nth($args, 1);
        bottom: nth($args, 1);
        left: nth($args, 1);
      } @else if length($args) == 2 {
        top: nth($args, 1);
        right: nth($args, 2);
        bottom: nth($args, 1);
        left: nth($args, 2);
      } @else if length($args) == 3 {
        top: nth($args, 1);
        right: nth($args, 2);
        bottom: nth($args, 3);
        left: nth($args, 2);
      } @else if length($args) == 4 {
        top: nth($args, 1);
        right: nth($args, 2);
        bottom: nth($args, 3);
        left: nth($args, 4);
      }
    } @else {
      @each $o in top right bottom left {
        $i: index($args, $o);

        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
          #{$o}: nth($args, $i + 1);
        }
      }
    }
  }
}

@mixin absolute($args) {
  @include position(absolute, $args);
}

@mixin fixed($args) {
  @include position(fixed, $args);
}

@mixin relative($args) {
  @include position(relative, $args);
}

@mixin noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin codingMonkeyBackground() {
  background-image: url("https://dn-coding-net-production-static.qbox.me/static/cb75498a0ffd36e2c694da62f1bdb86c.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@function gray($amount) {
  @return lighten(#000000, $amount);
}
