* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul, ol {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}


hr {
  border: 0;
  border-top 1px solid grey;
}
