html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: 1;
  color: $text-color;
  background-color: $base-background-color;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
}


*[tabindex]:focus {
  outline: 0 none
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.CodeMirror-vscrollbar, .CodeMirror-hscrollbar {
  scrollBar();
}

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(91, 91, 91, 0.50);
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(170, 170, 170, 0.80);
// }
