$highlight-color = $menu-background-color-active = hsl(213, 83, 58);
$blue-highlight-color = hsl(214, 61, 60)

// Git status colors
$modified-color = #578ddf;
$untracked-color = #0fd000;
$confliction-color = #c13d00;
$added-color = #0fd000;
$deleted-color = #616161;
