.dash-create .env-card {
    width: calc(25% - 15px);
    height: 60px;
}
.dash-create .env-card .inner {
    display: block;
}
.dash-create .env-card .main {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.dash-create .env-card .main img {
    height: 18px;
    margin-right: 10px;
}
.dash-create .env-card .title {
    color: #fff;
}
.dash-create .env-card .desc {
    margin-top: 3px;
    font-size: 12px;
    color: #ccc;
}

@media screen and (max-width: 1440px) {
    .dash-create .env-card {
        width: calc(33% - 15px);
    }
}
@media screen and (max-width: 860px) {
    .dash-create .env-card {
        width: 100%;
        margin-right: 0;
    }
}
