.dash-workspace .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.dash-workspace .created .tip {
    margin-bottom: 20px;
    color: #757575;
}
.dash-workspace .deleted .caption {
    padding: 30px 0 20px;
}
.dash-workspace .caption .tip {
    margin-top: 10px;
    color: #757575;
}
.can-not-create-ws-tip {
    padding-bottom: 10px;
    color: #757575;
}
