.dash-workspace .card-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.dash-workspace .caption {
    padding: 20px 0;
}
.dash-workspace .caption .tip {
    margin-top: 10px;
    color: #757575;
}
.can-not-create-ws-tip {
    padding-bottom: 10px;
    color: #757575;
}
.can-not-create-ws-tip i {
    margin-right: 4px;
}
