.resizeBar {
  $size = 6px
  z-index: z(pane-resize-bar);
  &.col-resize {
    cursor: col-resize;
    height: 100%;
    width: $size;
    margin-lr: $size * -0.5;
  }
  &.row-resize {
    cursor: row-resize;
    width: 100%;
    height: $size;
    margin-tb: $size * -0.5;
  }
}

.drawers-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.drawer {
  flex-basis: 0;
  min-height: $tab-height;
  .drawer-topbar {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid $base-border-color;
    height: $tab-height;

    .indicator {
      margin-lr: 5px;
    }
    .drawer-header {
      cursor: pointer;
    }
  }
}
