.CodeMirror pre {
  font-family: Consolas, "Source Code Pro", Consolas, "Courier New", Menlo, Monaco, "DejaVu Sans Mono", monospace;
}

.mode-widget {
  display: flex;
  position: absolute;
  bottom: 24px;
  min-width: 200px;
  right: 1px;
  flex-direction: column;
  z-index: 201;

  ul {
    max-height: 200px;
    overflow: auto;
  }
}