.file-tree-tool-container {
  height: 22px;
  color: #ccc;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid #444;

  i {
    cursor: pointer;
    margin-right: 5px;
  }
}
