.git-status-file {
  display: flex;
  align-items: center;

  .file-add-checkbox {
    padding-bottom: 2px;
    margin-right: 8px;
  }

  .file-status-indicator {
    margin-right: 6px;
  }
}

.git-commit-message-container {
  > textarea {
    min-width: 100%;
    max-width: 100%;
  }
}

.git-unstash-container {
  .btn-list {
    .btn-default {
      width: 100%;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .stash-list {
    min-height: 114px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid gray(85%);
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 2px 10px;
        cursor: pointer;
      }
      li:nth-child(odd) {
        background: $base-background-color;
      }
      li.isSelected {
        background: $text-color-info;
        color: white;
      }
    }
  }

  .checkbox {
    float: left;
    padding-top: 0;
    label {
      padding-right: 20px;
    }
    input[type="checkbox"] {
      margin: 0 0 0 -20px;
    }
  }
}

.git-rebase-start-container {
  .checkbox label {
    padding-right: 20px;
  }
}
.git-tag-container {
  input[type="checkbox"] {
    margin-right: 6px;
  }
  .error-info {
    color: red;
    padding-left: 10px;
  }
}

.git-branch-widget {
  display: flex;
  position: absolute;
  bottom: 30px;
  min-width: 200px;
  right: 1px;
  flex-direction: column;

  .widget-header {
    display: flex;
    z-index: 0;
    background-color: #e1e1e1;
    height: 30px;
    justify-content: center;
    align-items: center;
    > h2 {
      line-height: 1.5;
      font-size: 1em;
    }
  }
}
