.ide-history {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  // font-family: 'Source Code Pro', sans-serif;

  .history-container {
    position: relative;
    width: 100%;
    height: 100%;

    .history-title {
      border-bottom: 1px solid gray(80%);
      background-color: $base-top-menu-bar-background;
      color: gray(15%);
      padding: 4px 10px;
    }

    .selected .public_fixedDataTableCell_cellContent {
      background-color: $tab-highlight-bg;
      color: $component-active-color;
    }
    .public_fixedDataTableCell_cellContent {
      padding: 5px 8px;
      cursor: pointer;
    }
    .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
      background: #FFF;
      font-weight: normal;
    }
    .fixedDataTableLayout_main {
      border-width: 0px;
    }
    .public_fixedDataTableCell_main {
      border-color: #ebebeb;
    }
    .public_fixedDataTable_main, .public_fixedDataTable_header, .public_fixedDataTable_hasBottomBorder {
      border-color: #ebebeb;
    }
  }
}


.history-table {
  display: flex;
}

#git-graph-column {
  $header-height=27px

  // absolute(left top bottom 0);
  position: relative;
  border-right: 1px solid rgb(235, 235, 235);

  .column-header {
    height: $header-height;
    padding: 6px 8px;
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  .column-content {
    absolute(left right bottom 0 top $header-height);
    overflow: scroll;
  }
}


#git-log-table, #git-graph-column {
  flex-basis: 0;
  overflow: scroll;
}




.git-graph-wrapper {
  height: 100%;
  overflow-y: scroll;
  td.sha1, td.date {
    color: gray(50%);
  }
  td.author {
    color: gray(85%);
  }
}


.git-graph-ref {
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  padding: 1px 3px;
  margin-right: 2px;
  margin-bottom: -2px;
}
