.import-from-coding {
  width: 600px;
  .title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  input {
    margin-bottom: 8px;
    border-radius: 2px;
  }
  .main {
    width: 100%;
    height: 250px;
    padding: 8px 0;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    .repos {
      width: 100%;
      height: 100%;
      overflow: auto;
      .loading {
        margin-top: 100px;
        text-align: center;
        font-size: 16px;
        i {
          margin-right: 4px;
        }
      }
      .repo {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 3px;
        line-height: 22px;
        background-color: #444;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
        &.active {
          color: #fff;
          background-color: $ui-site-color-2;
        }
        i {
          margin-right: 4px;
        }
      }
    }
  }
  .control {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    .btn-primary {
      margin-left: 10px;
    }
  }
}

.import-from-git {
  box-sizing: border-box;
  width: 600px;
  .form {
    width: 100%;
    margin: 10px 0;
    position: relative;
    input {
      width: 100%;
      border-radius: 2px;
    }
    .warn {
      font-size: 18px;
      font-weight: 700;
      color: #f00;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate(0, -50%);
    }
  }
  .tip {
    margin-bottom: 10px;
    line-height: 1.5;
    .link {
      color: #18f;
      cursor: pointer;
    }
    .link:hover {
      text-decoration: underline;
    }
  }
  .box {
    width: 100%;
    padding: 20px 10px 10px;
    margin: 10px 0;
    line-height: 1.4;
    border-radius: 2px;
    color: #666;
    box-shadow: 0 0 2px rgba(0, 0, 0, .7) inset;
    white-space: pre-wrap;
    word-wrap: break-word;
    cursor: text;
    position: relative;
    &:hover .clipboard {
      display: block;
    }
    .clipboard {
      display: none;
      font-size: 16px;
      color: $ui-site-color-2;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .control {
    display: flex;
    justify-content: flex-end;
    .btn {
      margin-left: 20px;
    }
  }
}
