.monkey.splash-logo {
  vertical-align: top;
  margin-top: -8px;
  height: 195px;
  opacity: .618;
  font-size: 226px;
  background: url('~static/logo.svg') no-repeat center;
}

.coding-loading {
  width: 556px;
  height: 180px;
  background: url('~static/loading-logo.svg') -16px -40px no-repeat;
}

.initialize-container {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loading-info {
    margin-top: 20px;
    font-size: 16px;
    &.error {
      color: red;
    }
  }
  .loading-error {
    margin-top: 20px;
    color: red;
    .fa-exclamation-triangle {
      color: red;
      margin-right: 6px;
    }
  }
  .request-info {
    margin-top: 20px;
  }
}

.login-container {
  background: #00000066;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;

  .monkey.splash-logo {
    vertical-align: top;
    margin-top: -8px;
    height: 100px;
    opacity: 1;
    font-size: 126px;
    background: url('~static/logo.svg') no-repeat center;
    background-size: 200px 200px;
  }

  .login-info {
    padding-bottom: 40px;
    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding-bottom: 4px;
    }
    h2 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
  }

  .login-panel {
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .3);
  }
}

.prompt-container {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
  top: 0px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  .browser-prompt {
    height: 50px;
    margin: 0 auto;
    display: inline-flex;
    top: 0px;
    color: #333;
    font-size: 12px;
    line-height: 50px;
    padding: 0px 15px;
    border-radius: 2px;
    background-color: #e6e6e6;
    box-shadow: 0 0 20px 0 rgba(3,65,157,0.10);
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transform: translateY(-120px);
    animation: 0.25s cubic-bezier(0.25, 0.01, 0.165, 0.99) browserPromptAnimation;
    animation-fill-mode: forwards

    .browser-prompt:first-child {
      border-radius: 0px 0px 2px 2px;
    }

    p {
      margin: 0px;
    }

    a {
      color: #2D59A2;
      text-decoration: none;
    }

    .close {
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      font-style: normal;
      cursor: pointer;
      margin-left: 20px;
      padding: 5px;
      color: #6e6e6e;
    }
    .close:hover {
      color: #333;
    }
  }
}

@keyframes browserPromptAnimation {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0px);
  }
}
