.monkey.splash-logo {
  vertical-align: top;
  margin-top: -8px;
  height: 195px;
  opacity: .618;
  font-size: 226px;
  background: url('~static/logo.svg') no-repeat center;
}

.coding-loading {
  width: 556px;
  height: 157px;
  background: url('~static/loading-logo-w.svg') 10px -37px no-repeat;
  margin: 0 auto;
  background-size: 92%;
}

.coding-warning {
  width: 556px;
  height: 157px;
  background: url('~static/icon-monkey-error.svg') center 0 no-repeat;
  margin: 0 auto;
  // background-size: 92%;
}

.initialize-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  height: 360px;

  .loading-info {
    margin-top: 60px;
    font-size: 16px;
    line-height: 30px;
    white-space: pre-line;
    &.error {
      color: red;
    }
    &.warning {
      font-size: 16px;
      color: #FFAE0D;
      text-align: center;
    }
  }
  .loading-error {
    margin-top: 20px;
    color: red;
    .fa-exclamation-triangle {
      color: red;
      margin-right: 6px;
    }
  }
  .request-info {
    margin-top: 40px;
    .btn {
      min-width: 200px;
      border-radius: 2px;
    }
    .btn-primary {
      background: #5097E8;
    }
  }
}
.hint-info {
  white-space: pre-line;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: #84898F;
}

.login-container {
  // background: #00000066;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;

  .monkey.splash-logo {
    vertical-align: top;
    margin-top: -8px;
    height: 100px;
    opacity: 1;
    font-size: 126px;
    background: url('~static/logo.svg') no-repeat center;
    background-size: 200px 200px;
  }

  .login-info {
    padding-bottom: 40px;
    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding-bottom: 4px;
    }
    h2 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
  }

  // .login-panel {
  //   border: 1px solid #ddd;
  //   padding: 50px;
  //   border-radius: 6px;
  //   background: #FFF;
  //   box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .3);
  //   .login-btn {
  //     margin-bottom: 10px;
  //     button {
  //       width: 100%;
  //     }  
  //   }
  // }
}

.login-page {
  font-family: PingFangSC-Regular;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height: 560px;
  background: #323a45;
  color: #FFF;
  .login-bg {
    height: 100%;
    overflow: hidden;

    .login-bg-cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;
      background: #0B0B0B;  
    }
  }
  
  .login-panel {
    border-radius: 2px;
    background: #FFF;
    width: 340px;

    .login-panel-input input.error {
      border-color: red;
    }
    
    // box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .3);
    .login-panel-input {
      padding: 30px;
      text-align: left;
      .title {
        text-align: left;
        font-size: 18px;
        color: #323A45;
        margin-bottom: 26px;
      }
      input {
        font-size: 14px;
        color: #323A45;
        background: #FFFFFF;
        border: 1px solid #D8DDE4;
        border-radius: 2px;
        margin-bottom: 26px;
        // box-shadow: none;
        height: 42px;
      }
      .checkbox {
        font-size: 12px;
        color: #323A45;
        line-height: 20px;
        margin-top: -10px;
        margin-bottom: 30px;
        input {
          height 18px;
        }
        label {
          font-weight: 100;
          
        }
      }
      .btn {
        background: #323A45;
        border-radius: 2px;
        width: 100%;
        height: 42px;
        font-size: 16px;
      }
      .input-right {
        float: right;
      }
      .links {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;

        a {
          text-decoration: none;
          color: #323A45;
        }
        .input-right {
          a {
            color: #77afed;
          }
        }
      }
      .login-panel-line {
        display: flex;
        .captchaPic {
          height: 42px;
          margin-left: 16px;
          cursor: pointer;
        }
      }
    }
    .login-panel-tencent {
      border-top: 1px solid #D8DDE4;
      padding: 20px;
      

      .logo-qcloud {
          background: url('~static/tencentcloud-logo.svg') 0 0 no-repeat;
          height: 20px;
          width: 23px;
          display: inline-block;
          margin-right: 5px;
      }
      a {
        display: flex;
        font-size: 14px;
        color: #323A45;
        align-items:center;
        justify-content:center;
        line-height: 23px;
        text-decoration: none;
      }
    }
  }
}

.page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px;
    display: flex;
    .logo {
      background: url('~static/CloudStudio-Logo-Light.svg') -10px -9px no-repeat;
      height 20px;
      width: 161px;
    }
    .nav {
      display: block;
      display: flex;
      li {
        padding-left: 30px;
      }
      a {
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
    
  }

.around{
  animation-name:aroundAnimation; /*动画的名称*/
  transform-origin: center bottom; /*设置动画旋转元素的基点为*/
  cursor: pointer;
}

@keyframes aroundAnimation {
  0%,
  100%,
  20%,
  50%,
  80% {
    transition-timing-function: cubic-bezier(0.215,.61,.355,1); 
    transform: translate3d(0,0,0);
  }
  40%,
  43%{
    transition-timing-function: cubic-bezier(0.755,0.50,0.855,0.060);
    transform: translate3d(-20px,0,,0);
  }
  70%{
    transition-timing-function: cubic-bezier(0.755,0.050,0.855,0.060);
    transform: translate3d(-10px,0px,0);
  }
  90%{
    transform: translate3d(20px,0,0);
  }
}