.mask-container {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  .mask-video {
    max-width: 800px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 2px;
  }
  .progress {
    // position: absolute;
    // left: 25%;
    // top: 50%;
    // width: 50%;
    // margin-top: -15px;
    font-size: 16px;
    noSelect()
    padding: 16px 16px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 10;
    > i {
      margin-right: 5px;
    }
    .progress-btn {
      text-align: right;
      margin-top: 12px;
      font-size: 14px;
    }
    .progress-line {
      padding-top: 8px;
      max-width: 260px;
    }
  }
}

.ide-bulletin {
  width: 930px;
  padding: 15px 35px;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 0);
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 300;
}
.ide-bulletin i {
    cursor: pointer;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 15px;
}
.ide-bulletin i:hover {
    color: #aaa;
}
