.mask-container {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  .mask-video {
    max-width: 800px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 2px;
  }
  .progress {
    // position: absolute;
    // left: 25%;
    // top: 50%;
    // width: 50%;
    // margin-top: -15px;
    font-size: 16px;
    noSelect()
    padding: 16px 16px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 10;
    > i {
      margin-right: 5px;
    }
    .progress-btn {
      text-align: right;
      margin-top: 12px;
      font-size: 14px;
    }
    .progress-line {
      padding-top: 8px;
      max-width: 260px;
    }
  }
}