// MenuBar
.menu-bar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $base-top-menu-bar-background;
  // border-bottom: 1px solid transparent;
  noSelect();
}

.menu-bar-right {
  display: flex;
  white-space: nowrap;
  line-height: 12px;
  padding-top: 4px;
  margin-right: 10px;
  padding-right: 4px;
  align-items: center;
  height: 18px;
  .btn-info {
    margin-left: 10px;
    line-height: 12px;
    margin-right: 10px;
  }
  .share-btn {
    margin-right: 10px;
    line-height: 16px;
    cursor: pointer;
  }
  .currentUser {
    margin-top: 1px;
    margin-left: 10px;
    display: flex;
    margin-right: 4px;
    margin-bottom: 2px;
    img {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      margin-right: 6px;
    }
    a {
      line-height: 18px;
      display: inline-block;
      font-size: 12px;
    }
  }
}

.menu-bar {
  display: flex;
  // width: 100%;
  // background-color: #fafafa;
  // border-bottom: 1px solid transparent;
}

.menu-bar-item {
  position: relative;
  > .menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.menu-bar-item-logo {
  width: 42px;
  height: 19px;
  background: url('~static/logo.svg') no-repeat center;
  background-size: 40px 34px;
}
.menu-bar-item-container {
  padding: 4px 12px;
  position: relative;
  height: 100%;
  z-index: z(menu-bar-item-container);
  &.active {
    background-color: $background-color-highlight;
    color: $text-color-highlight;
  }
}

.menu-bar-item.coding-logo {
  align-self: stretch;
  width: 60px;
  height: 21px;
  .menu-bar-item-container {
    padding: 2px 10px;
    &:after {
      codingMonkeyBackground;
      absolute(0);
      content: ' ';
    }
    &.active:after {
      fill: #fff;
    }
  }
}
