// MenuBar
.menu-bar-container {
  position: relative;
  .btn-info {
    position: absolute;
    top: 2px;
    right: 4px;
    line-height: 12px;
  }
}

.menu-bar {
  display: flex;
  background-color: #fafafa;
  border-bottom: 1px solid transparent;
}

.menu-bar-item {
  position: relative;
  > .menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.menu-bar-item-logo {
  width: 100%;
  height: 100%;
  background: url(https://dn-coding-net-production-static.qbox.me/static/cb75498a0ffd36e2c694da62f1bdb86c.svg) no-repeat center;
  background-size: 220% 220%;
}
.menu-bar-item-container {
  padding: 4px 12px;
  position: relative;
  height: 100%;
  z-index: z(menu-bar-item-container);
  &.active {
    background-color: $background-color-highlight;
    color: $text-color-highlight;
  }
}

.menu-bar-item.coding-logo {
  align-self: stretch;
  width: 36px;
  .menu-bar-item-container {
    &:after {
      codingMonkeyBackground;
      absolute(0);
      content: ' ';
    }
    &.active:after {
      fill: #fff;
    }
  }
}
