.modals-container {
}

.modal-container {
  fixed(0);
  display: flex;
  justify-content: center;
  z-index: z(modal-container);
  &.top {
    align-items: flex-start;
    .modal {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.center {
    align-items: center;
    .modal {
      margin-top: -5em;
    }
  }

  // the backdrop
  .backdrop {
    background-color: transparent;
    fixed(0);
    z-index: z(modal-backdrop);
  }

  &.show-backdrop {
    .backdrop {
      background-color: rgba(0,0,0,.3);
    }
  }
}

.modal {
  min-width: 600px;
  min-height: 20px;
  padding: 0.75em;
  z-index: z(modal);
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .3);

  h1 {
    font-size: 14px;
  }

  .modal-ops {
    text-align: right;
    .btn {
      margin-left: 10px;
    }
  }
}

.modal-content {
  .message { margin-bottom: 0.4em; }
  input[type="text"] { width: 100%; }
  input[type="checkbox"] { margin-right: 6px; }
  .header {
    font-size: 14px;
    font-weight: bold;
  }
  .message {
    margin-top: 10px;
    .fa {
      margin-right: 4px;
    }
    .fa-info-circle {
      color: #ff9800;  
    }
    &.message-info {
      background: #ff98004a;
      padding: 4px;
    }
  }
  .filetree-container {
    height: 60vh;
    overflow: scroll;
    width: 600px;
    margin: 10px 0;
  }
  &.about {
    width: 600px;
    padding-top: 63px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 12px;
    background: #333333;
    color: #ccc;

    .title {
      padding-bottom: 66px;

      .logo {
        display: inline-block;
        transform: translateY(7px);
        background: url('~static/CloudStudio-Logo-Light.svg') -10px -9px no-repeat;
        background-size: 100% 150%;
        height: 30px;
        width: (270 * 3 / 4)px;
      }

      .beta {
        background: #DDD;
        border-radius: 2px;
        padding: 0px 2px;
        color: #333;
        font-size: 12px;
        // transform: scale(1);
        display: inline-block;
        vertical-align: top;
        margin-left: -14px;
      }
    }

    .logos {
      display: flex;
      text-align: center;
      justify-content: center;
      padding-bottom: 40px;
      border-bottom: 1px solid #404040;
      .logo-item {
        padding: 0 16px;

        .info {
          padding-top: 10px;
          font-size: 16px;
        }
      }

    }
    .links {
      padding: 20px 0 16px 0;

      a {
        display: inline-block;
        border: 1px solid #979797;
        border-radius: 2px;
        font-size: 14px;
        color: #979797;
        letter-spacing: 0;
        padding: 8px 16px;
        text-decoration: none;
        margin: 0 10px;
      }
    }
  }
}
