.monaco-debug-hightlight-content {
  background-color: rgba(122,189,122,.3);
}

.monaco-glyphMargin-step-stopped {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23f6f6f6}.icon-canvas-transparent{opacity:0}.cls-1{fill:%239cce9c}%3C/style%3E%3C/defs%3E%3Ctitle%3Estackframe-arrow%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='cls-1' d='M12.5 8L9 12H5V4h4z' id='iconBg'/%3E%3C/svg%3E") 50% no-repeat;
}

.monaco-glyphMargin-breakpoint {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23f6f6f6}.icon-canvas-transparent{opacity:0}.icon-vs-red{fill:%23e51400}%3C/style%3E%3C/defs%3E%3Ctitle%3Ebreakpoint%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-red' d='M11.789 8A3.789 3.789 0 1 1 8 4.211 3.788 3.788 0 0 1 11.789 8z' id='iconBg'/%3E%3C/svg%3E") 50% no-repeat
}

.monaco-glyphMargin-breakpoint-stopped {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><defs><style>.icon-canvas-transparent,.icon-vs-out{fill:%23f6f6f6}.icon-canvas-transparent{opacity:0}.icon-vs-yellow{fill:%23fc0}.icon-vs-red{fill:%23e51400}</style></defs><title>current-and-breakpoint</title><path class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/><g id='iconBg'><path class='icon-vs-yellow' d='M12.5 8L9 12H5V4h4z'/><path class='icon-vs-red' d='M10.5 8A2.5 2.5 0 1 1 8 5.5 2.5 2.5 0 0 1 10.5 8z'/></g></svg>") 50% no-repeat
}

.monaco-glyphMargin-breakpoint-hover {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23f6f6f6}.icon-canvas-transparent{opacity:0}.icon-vs-red{fill:%23e51400}%3C/style%3E%3C/defs%3E%3Ctitle%3Ebreakpoint%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-vs-red' d='M11.789 8A3.789 3.789 0 1 1 8 4.211 3.788 3.788 0 0 1 11.789 8z' id='iconBg'/%3E%3C/svg%3E") 50% no-repeat
  opacity: 0.5;
}

.monaco-glyphMargin-breakpoint-unverified {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%23f6f6f6}.icon-canvas-transparent{opacity:0}.icon-disabled-grey{fill:%23848484}%3C/style%3E%3C/defs%3E%3Ctitle%3Ebreakpoint-unverified%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z' id='canvas'/%3E%3Cpath class='icon-disabled-grey' d='M8 4.211A3.789 3.789 0 1 0 11.79 8 3.788 3.788 0 0 0 8 4.211zm0 6.079A2.29 2.29 0 1 1 10.29 8 2.292 2.292 0 0 1 8 10.29z' id='iconBg'/%3E%3C/svg%3E") 50% no-repeat  
}
