.offline-container {
    width: 52px;
    height: 16px;
}
.toggle-handle {
    position: relative;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    margin-bottom: 10px;
    width: 0px;
    border-width: 0 1px;
    .btn-xs {
        line-height: 1;
    }
}
.toggle.off .toggle-group {
    left: -100%;
}
.toggle-group {
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left 0.35s;
    -webkit-user-select: none;
}

.toggle-on {
    position: absolute;
    line-height: 12px;
    left: 0;
    border: 0;
    border-radius: 0;
    .btn {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
}
.toggle-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-left: 4px !important;
    border: 0;
    border-radius: 0;
    .btn {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
}
.toggle {
    position: relative;
    overflow: hidden;
}
.blink {
    animation: blink 800ms infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
      opacity: 0.2;
  }
  100% {
      opacity: 1;
  }
}