.plugin-upload {
    .title {
        font-size: 24px;
    }
    .title-desc {
        margin: 20px 0;
        font-size: 16px;
    }
    .form {
        padding: 20px 0;
        margin: 20px auto 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .form-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }
    }
    .control {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0 10px;
        button {
            margin: 0 5px;
        }
    }
}
