
.plugin-dev-container {
  .panel-heading {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    .fa {
      margin-right: 4px;
    }
    &>p {
      margin: 0px;
    }
  }
  .plugin-detail-panel {
    padding: 16px;
    .plugin-name {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    .plugin-description {
      font-size: 12px;
      margin: 5px 0px;
    }
    .plugin-dev-server {
      margin-top: 20px;
    }
  }
}
