
.plugin-dev-container {
  .panel-heading {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    .fa {
      margin-right: 4px;
    }
    &>p {
      margin: 0px;
    }
  }
  .plugin-detail-campaign {
    padding: 6px 16px;
    margin: 0px !important;
    background-color: #3e3e3e;
    &>a {
      cursor: pointer;
    }
  }
  .plugin-detail-panel {
    padding: 16px;
    .plugin-name {
      margin: 0px !important;
    }
    .plugin-deleted-tip {
      margin: 0px !important;
      color: #f2994a;
      i.fa {
        margin-right: 5px;
      }
    }
    .plugin-name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .plugin-description {
      font-size: 12px;
    }
    .plugin-dev-server {
      margin-top: 20px;
    }
  }
}
