.search-panel {
  height: 100%;
  overflow: auto;
  scrollBar();
  padding: 10px;
  .search-panel-title {
    margin-bottom: 14px;  
  }
  .search-panel-input {
    margin-bottom: 10px;
    // display: flex
    .search-controls {
      border: none
    }
    .search-checkbox {
      margin-right: inherit;
      position: inherit;
      top: 43px;
      display: inline-block;
      position: absolute;
      right: 15px;
      
      .active {
        color: #337ab7;
        font-weight: bold;
      }
        
      span {
        width: 22px;
        height: 22px;
        padding: 3px;
        display: inline-block;
        cursor: default;

        
        &:hover {
          color: #337ab7;
          font-weight: bold;
        }
      }
    }
  }
  .search-item {
    cursor: pointer;
    margin-top: 10px;
    white-space: nowrap;
    .search-item-path {
      line-height: 20px;
      display: flex;
      align-items: center;
      i {
        font-style: normal;
      }
      .fa {
        margin-right: 4px;
        width: 8px;
      }
      .file-icon {
        width: 18px;
        text-align: center;
        display: inline-block;
        transform: translateY(1px);
        margin-right: 4px;
      }
      .search-item-path-path {
        opacity: .6;
        margin-left: 4px;
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .search-item-count {
        padding: 2px 5px 3px 4px;
        line-height: 14px;
        height: 17px;
        border-radius: 12px;
        min-width: 17px;
        text-align: center;
        font-size: 12px;
      }
    }
    .search-item-line {
      padding-left: 20px;
      line-height: 20px;
      margin-top: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      h {
        // font-weight: 700;
        background: #d2691e78;
      }
      
      b {
        background: #337ab7;
        color: #fff;
        font-weight: normal;
      }
    }
  }
}