.settings-container {
  margin: -10px;  /* to counter-part the modal padding*/
  display: flex;
  width: 70vw;
  height: 80vh;

  > div {
    flex-grow: 1
  }
}

.keymap-list {
  thead {
    tr {
      th {
        text-align: left !important;
        padding-left: 10px;
      }
    }
  }
}

.settings-header {
  border-right: 1px solid #ccc;
  width: 25%;

  .tab-bar-header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
  }

  ul.tab-bar-tabs {margin-top: -1px}
  li.tab-bar-item {
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    &:before {
      absolute(left 0 top 0 bottom 0)
      content: '';
      background-color: $text-color-info;
      height: 100%;
      width: 4px;
      opacity: 0;
    }

    &:hover {
      opacity: 1;
      &:before {opacity: 0.3}
    }

    &.active {
      cursor: initial;
      opacity: 1;
      &:before {opacity: 1}
    }
  }
}

.project-config-container {
  .form-line {
    display: flex;
    .form-control {
      flex: 1;
      border-radius: 4px 0px 0px 4px;
    }
    .fa-folder-o {
      padding: 9px;
      border: 1px solid #ccc;
      border-radius: 0px 4px 4px 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      border-left: none;
      cursor: pointer;
    }
  }
}


.settings-content {
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  $padding-lr= 18px
  .settings-content-container {
    padding: 0 $padding-lr 10px;
    flex-grow: 1;
    overflow: auto;
    table {
      width: 100%;
      tr {
        height: 30px;
        td {
          padding: 0 10px;
        }
        .key {
          padding: 2px 6px;
          margin: 0 4px;
          border-radius: 2px;
          color: #333;
          background-color: #d6d6d6;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: #f6f6f6;
        }
      }
    }
  }
  .settings-content-controls {
    flex-grow: 0;
    padding: 10px $padding-lr - 2px;
    border-top: 1px solid #eee;
  }
}

.settings-extension-container {
  width: 80%;
  .search {
    width: 100%;
    border: 1px solid grey;
    height: 30px;
    padding-left: 5px;
  }
  .lists {
    margin-top: 20px;
    .card {
      width: 100%;
      height: 8em;
      padding: 10px;
      border: 1px solid grey;
      margin-bottom: 10px;
      position: relative;
      .title {
        font-size: 1.5em;
        > span {
          font-size: 0.8em;
          margin-left: 10px;
        }
      }
      .desc {
        font-size: 1em;
        margin-top: 10px;
        font-weight: 10;
      }
      .author {
        margin-top: 10px;
        .icon {
          width: 10px;
        }
        .text {
          margin-right: 10px;
        }
      }
      .buttons {
        position: absolute;
        display: flex;
        padding: 10px;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}

.plugin-custom-settings {
  .plugin-settings-title {
    margin: 20px 0px;
    font-size: 16px;
  }  
}

.custom-setting-description {
  font-size: 12px;
  opacity: 0.5;
}

.custom-setting-item {
  margin: 0px !important;
}

.plugin-setting-input-label {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  justify-content: space-between;
  padding: 0px 10px;

  & > p {
    margin: 0px;
    &>i {
      cursor: pointer;
      display: inline-block;
      margin-left: 10px;  
    }
  }
}


.input-mode {
  & > input {
    height: 25px;
    line-height: 25px;
    color: #444;
  }
  & > button {
    padding: 6px 12px;
    height: 13px;
    box-sizing: content-box;
    line-height: 13px;
  }
}
