$bar-height = 30px;

.status-bar {
  // border-top: 1px solid transparent;
  display: flex;
  align-items: stretch;
  min-height: $bar-height;
  noSelect();

  .status-bar-plugin-area {
    display: flex;
    justify-content center;
    align-items: center;    
  }

  .status-widget-container {
    display: flex;
    &.right {
      margin-left: auto;
    }
  }

  .status-bar-space-key {
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
  }

  .status-bar-menu-item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
    > .menu {
      right: 6px;
      bottom: $bar-height;
      min-width: 200px;
    }
  }

  .toggle-layout {
    padding: 0 8px;
  }

  .status-messages {
    display: flex;
    align-items: center;
    .status-message {
      margin-right: 0.5em;
    }
    .status-message + .status-message {
      &:before {
        content: '|';
        margin-right: 0.5em;
      }
    }
  }
  .status-bar-upload {
    padding: 0 8px;
    // line-height: $bar-height;
    display: flex;
    position: relative;
    .fa {
      line-height: $bar-height;
      margin-right: 4px;
    }
    .upload-messages {
      display: flex;
      align-items: center;
    }
  }
  
  .status-progress {
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    
    span {
      margin-right: 1vw;
      width: 10vw;
      display: inline-block;
      height: 5px;
      border-radius: 3px;
      background-size: 30px 30px;
      animation: animate-stripes 3s linear infinite;
    }
  }
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
