.virtual-container {
  z-index: 100;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;

  .virtual-keymap {
    overflow-x: scroll;
    width: calc(100% - 80px);
    display: flex;
    height: 40px;
    
    li {
      width: 40px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
    }
  }

  .icons {
    display: flex;
     
    i {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}