.workspace-list {
  fixed(0);
  z-index: z(workspace-list);

  &:after {
    absolute(0);
    z-index: -1;
    content: "";
    background-color: white;
  }

  overflow: auto;

  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin: 10px 0;
  }

  .strike > span {
      position: relative;
      display: inline-block;
  }

  .strike > span:before,
  .strike > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #000;
  }

  .strike > span:before {
      right: 100%;
      margin-right: 15px;
  }

  .strike > span:after {
      left: 100%;
      margin-left: 15px;
  }
}

.workspace {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid gray(85%);

  .workspace-name {
    font-size: 20px;
  }

  .workspace-action {
    margin-left: auto;
  }
}


.create-workspace-container,
.workspace-list-container {
  width: 40vw;
  min-width: 600px;
  margin: auto;
}

.create-workspace-container {
  margin-bottom: 30px;
  .pre {
    font-family: monospace;
    font-size: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.create-workspace-controls {
  display: flex;
  align-items: center;
  input {flex-grow: 1;}
  button {margin-left: 4px;}
}

@keyframes CREATING-WORKSPACE {
  0%   { content:'.'; }
  33%   { content:'..'; }
  66%   { content:'...'; }
}

.creating-workspace-indicator {
  opacity: 0.7;
  &:after {
    content: '.';
    animation: CREATING-WORKSPACE 3s infinite;
  }
}
.creating-workspace-indicator-error {
  opacity: 0.7;
  color: red;
}
.creating-workspace-process {
  opacity: 0.7;

}

.import-plugin-container {
  width: 600px;
  h2 {
    font-size: 14px;
    margin: 18px 0;
  }
  .control-label {
    text-align: left;
  }
  .checkbox-inline input[type="checkbox"] {
    position: relative;
    margin-left: -4px;
    margin-right: 8px;
  }
  .opt-list {
    padding-left: 5px;
    .btn {
      margin-bottom: 10px;
    }
  }
}
.template-option {
  padding-left: 36px;
}
.template-list {
  border: 1px solid $base-border-color;
  overflow: auto;
  height: 200px;
  .template-item {
    font-weight: normal;
    line-height: 20px;
    padding: 2px 10px;
    cursor: pointer;
    display: block;
    input[type="checkbox"] {
      margin-right: 8px;
    }
    &.selected {
      background-color: $background-color-selected;
    }
    .fa {
      margin-right: 4px;
    }
  }
}
.template-intro {
  border: 1px solid $base-border-color;
  overflow: auto;
  height: 200px;
  padding: 10px;
  line-height: 1.4;
}