.dash-setmyplugin .overview .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash-setmyplugin .overview .name {
    font-size: 24px;
    color: #fff;
}
.dash-setmyplugin .overview .goto {
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    color: #ccc;
    background-color: #3b3b3b;
}
.dash-setmyplugin .overview .desc {
    margin-top: 20px;
    color: #898989;
}
.dash-setmyplugin .overview .info {
    display: flex;
    margin-top: 20px;
    color: #898989;
}
.dash-setmyplugin .overview .info .item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.dash-setmyplugin .overview .info .key {
    margin-right: 6px;
}
.dash-setmyplugin .overview .info .rate-user-count {
    margin-left: 5px;
}
.dash-setmyplugin .overview .status {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #3b3b3b;
}
.dash-setmyplugin .overview .pre {
    margin-top: 10px;
    color: #fff;
}
.dash-setmyplugin .overview .pre i {
    margin-right: 5px;
}
.dash-setmyplugin .overview .click {
    color: #39f;
    cursor: pointer;
}
.dash-setmyplugin .tab {
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid #555;
}
.dash-setmyplugin .tab-item {
    padding: 10px 20px;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: border-color .2s ease;
}
.dash-setmyplugin .tab-item.on {
    border-left-color: #555;
    border-top-color: #555;
    border-right-color: #555;
    border-bottom-color: #333;
}
.dash-setmyplugin .panel {
    padding-top: 20px;
}
.dash-setmyplugin .panel-sub-title {
    margin-bottom: 10px;
    color: #fff;
}
