.com-ssh .ssh-tip {
    width: 100%;
    padding-bottom: 20px;
}
.com-ssh .ssh-content {
    width: 100%;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 3px;
    color: #757575;
    word-break: break-all;
    cursor: pointer;
    position: relative;
}
.com-ssh .ssh-content .ssh-clipboard {
    position: absolute;
    top: 8px;
    right: 8px;
}
/* 自定义 tooltip 样式 */
.com-ssh .ssh-content .dash-tooltip {
    width: 70px;
    text-align: center;
}
