/* 自定义 tooltip 样式 */
.dash-pluginset .dash-tooltip {
    padding-left: 4px;
}
.dash-pluginset .dash-tooltip .tooltip {
    width: 220px;
}
.dash-pluginset .prepublish-status {
    margin-bottom: 40px;
}
.dash-pluginset .prepublish-status .click  {
    color: #39f;
    cursor: pointer;
}
.dash-pluginset .pre-push-tip {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: #ccc;
}
.dash-pluginset .pre-push-tip i {
    margin-right: 5px;
    font-size: 16px;
    color: #fff;
}
.dash-pluginset .pre-publish-button button {
    padding: 10px 30px;
    font-size: 16px;
}
.dash-pluginset .pre-publish-button button.building {
    border-color: #444;
    background-color: transparent;
    cursor: default;
}
