.com-board .project-head {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid #444;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 12px;
}
.com-board .project-head-left {
    display: flex;
}
.com-board .project-head-right {
    display: flex;
    align-items: center;
}
.com-board .project-head-right input {
    width: 140px;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.com-board .project-head-right .async {
    width: 60px;
    text-align: right;
    color: #5097e8;
    cursor: pointer;
}
.com-board .project-head-right .async i {
    margin-right: 5px;
}
.com-board .project-head .item {
    height: 40px;
    margin-right: 30px;
    line-height: 40px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.com-board .project-head .item.active {
    border-bottom-color: #5097e8;
}
.com-board .project-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 300px;
    padding: 20px;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
}
.com-board .primary {
    margin-right: 10px;
}
