.command-palette-input {
  margin-tb: 10px;
}

.command-palette-items {
  i, em {font-style: normal;}
  em {
    font-weight: bold;
    color: $menu-background-color-active;
  }

  li {
    padding: 10px 10px;
    margin-lr: -10px;
    &.selected {
      background-color: gray(94%);
    }
  }
}
