$filetree-indent = 14px;

.filetree-container, .git-filetree-container {
  noSelect();
  padding-left: 20px;
  height: 100%;
  overflow: scroll;

  & > .filetree-node-container {
    float: left;
    min-width: 100%;
  }
}

.filetree-node {
  display: flex;
  align-items: center;
  cursor: default;
  position: relative;
  padding: 4px 0;

  > span {
    display: inline-block;
    flex: 0 0 auto;
  }
  > .filetree-node-bg {
    absolute(0);
    left: -1000px;
  }
  &.focus > .filetree-node-bg {
    z-index: z(filetree-node-bg);
  }
  .filetree-node-checkbox,
  .filetree-node-arrow,
  .filetree-node-icon,
  .filetree-node-label {
    z-index: z(filetree-node-label);
  }
}

.filetree-node-arrow {
  width: $filetree-indent;
  cursor: pointer;
}

.filetree-node-icon {
  width: $filetree-indent;
}

.filetree-node-label {
  padding-left: 5px;
  padding-right: 10px;
}


.filetree-container .filetree-node-children {
  padding-left: $filetree-indent;
  &.isFolded {display: none}
}

// git commit view specific styles
.git-filetree-container {
  padding-left: 0;

  .filetree-node {
    border-bottom: 1px solid gray(90);
    padding-left: 10px;
    > .filetree-node-bg {
      absolute(0);
    }
  }
  .filetree-node-children {
    &.isFolded {display: none}
  }

  .filetree-node-checkbox {
    margin-right: 8px;
    i.fa {
      width: 12px;
      color: $highlight-color;
      &.fa-square-o {
        color: gray(80)
      }
    }
  }
}
