$tab-height = 30px;
$tab-control-width = 16px;

.tab-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}


.tab-content {
  flex: 1 0 auto;
  position: relative;
}
.tab-content-container {
  absolute(0);
  &:before {
    content: '';
    absolute(0);
    codingMonkeyBackground();
    filter: grayscale(100%) brightness(500%) brightness(50%);
    -webkit-filter: grayscale(100%) brightness(500%) brightness(90%);
    background-size: 400px;
  }
}
.tab-content-item {
  width: 100%;
  height: 100%;
}

.tab-bar {
  noSelect();
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  > ul.tabs {
    display: flex;
    height: 100%;
    align-items: flex-end;
    overflow-x: scroll;
    &::-webkit-scrollbar {display: none;}
    > li { margin-right: 2px;}
  }

  > .tab-show-list {
    width: $tab-height - 4px;
    text-align: center;
    flex-shrink: 0;
    // https://www.w3.org/TR/css-flexbox-1/#auto-margins
    margin-left: auto;
  }

  .tab-add-btn {
    // text-align: center;
    margin-left: 8px;
    flex-shrink: 0;
    line-height: 1;
    font-weight: bold;
    cursor: pointer;
  }
}

.tab {
  min-width: 92px;
  max-width: 200px;
  padding-left: 4px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  cursor: default;

  .title {
    text-overflow: ellipsis;
    padding: 0 4px;
  }

  .control {
    min-width: $tab-control-width;
    width: $tab-control-width;
    height: $tab-control-width;
    cursor: pointer;
    margin-left: auto;
    position: relative;
  }
}


.tab {
  // case default:
  i {
    absolute(0);
    line-height: $tab-control-width;
    text-align: center;
    font-style: normal;
  }

  .dot {
    height: $tab-control-width*0.5;
    width: $tab-control-width*0.5;
    margin-top: $tab-control-width*0.25;
    margin-left: $tab-control-width*0.25;
    border-radius: 100%;
    background-color: #5b91d7;
    display: none;
  }

  .close {
    margin-top: -1px;
    display: none;
  }

  // case hover-on-tab / tab-is-active:
  &.active, &:hover {
    .close {display: block;}
  }

  // case modified flag:
  &.modified {
    .dot {display: block;}
  }

  // case hover-on-tab-control
  .control:hover {
    .dot {display: none;}
  }

}


.tab-content-item {
  display: none;
  &.active {
    display: block;
  }
}
