.expression-watcher-item-focus {
  background-color: $tree-view-background-color-highlight;
  border-color: $tree-view-background-color-highlight;
  color: $text-color;
}


.debug-condition-select {
  background-color: $tree-view-background-color-highlight;
  border-color: $tree-view-background-color-highlight;
  color: $text-color;
}
