.file-tree-tool-container {
  .sync {
    color: $text-color;
  }
  .collapse {
    .up, .down {
      border-color: $text-color;
    }
  }
}

.filetree-node.focus {
  color: $text-color-highlight;
  > .filetree-node-bg {
    background-color: $tree-view-background-color-highlight;
  }
}

.filetree-container {
  .filetree-node-container.highlight,
  .filetree-node.focus {
    background-color: $tree-view-background-color-highlight;
  }
}
