.menu-bar-container a.dashboard-menu {
    color: #333;
    border-right-color: #d1d1d1;
}
.menu-bar-container a.dashboard-menu:active {
    color: #333;
}
.menu-bar-container a.dashboard-menu:visited {
    color: #333;
}
