.menu {
  color: $text-color;
  background-color: $menu-background-color;
  border-color: $menu-border-color;
  opacity: 0.95;
  > li > hr {
    border-color: gray(80%);
  }
}

.menu-bar-container {
  background-color: $base-top-menu-bar-background;
}

.menu-bar-item-container, .menu-item-container {
  &.active {
    background-color: $menu-background-color-highlight;
    color: #fff;
  }
  &.disabled, &.active.disabled {
    background-color: transparent;
    color: $text-color-subtle;
  }
}
.menu-bar-item-logo {
  .logo {
    filter: invert(100%);
  }
}
