.plugin-dev-container {
  color: #333 !important;
  .panel-heading {
    background-color: #ebebeb;
    border-color: $tab-bar-border-color;
    color: #333 !important;
  }
  .plugin-detail-panel {
    .plugin-dev-server {
      color: #666;
    }
  }
}
