.search-panel {
  color: $text-color;
  .search-item-line:hover {
    color: $text-color-highlight;
    background-color: $tree-view-background-color-highlight;
  }
  .search-item-count {
    color: $text-color-highlight;
    background-color: $tree-view-background-color-highlight;
  }
}