.dash-create .project-card {
    width: calc(25% - 14px);
    height: 60px;
}
.dash-create .project-card .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #3f3f3f;
    overflow: hidden;
}
.dash-create .project-card .avatar img {
    height: 100%;
    border-radius: 3px;
}
.dash-create .project-card .content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: calc(100% - 50px);
    height: 100%;
}
.dash-create .project-card .title {
    width: 100%;
    color: #fff;
}
.dash-create .project-card .desc {
    width: 100%;
    font-size: 12px;
}
.dash-create .project-card .highlight {
    border-radius: 2px;
    background-color: #6b6b6b;
}

@media screen and (min-width: 1800px) {
    .dash-create .project-card {
        height: 80px;
    }
    .dash-create .project-card .avatar {
        width: 60px;
        height: 60px;
    }
    .dash-create .project-card .content {
        width: calc(100% - 70px);
    }
    .dash-create .project-card .title {
        font-size: 16px;
    }
    .dash-create .project-card .desc {
        font-size: 14px;
    }
}
@media screen and (max-width: 1440px) {
    .dash-create .project-card {
        width: calc(33.3% - 14px);
    }
}
@media screen and (max-width: 1150px) {
    .dash-create .project-card {
        width: calc(50% - 14px);
    }
}
@media screen and (max-width: 860px) {
    .dash-create .project-card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
