.dash-create .project-card {
    width: calc(25% - 15px);
    height: 60px;
}
.dash-create .project-card .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #3f3f3f;
}
.dash-create .project-card .avatar img {
    height: 100%;
    border-radius: 3px;
}
.dash-create .project-card .highlight {
    border-radius: 2px;
    background-color: #6b6b6b;
}

@media screen and (max-width: 1440px) {
    .dash-create .project-card {
        width: calc(33% - 15px);
    }
}
