$text-color            = gray(30%);
$text-color-subtle     = gray(50%);
$text-color-highlight  = gray(20%);
$text-color-selected   = gray(20%);

$text-color-info       = hsl(219,  79%, 66%);
$text-color-success    = hsl(140,  44%, 62%);
$text-color-warning    = hsl( 36,  60%, 72%);
$text-color-error      = hsl(  9, 100%, 64%);

$base-background-color = gray(96%);
$base-border-color     = darken($base-background-color, 8%);

// panel
$panel-background-color = $base-background-color;
$panel-border-color     = $base-border-color;

$menu-background-color  = white;

// tabs
$tab-bar-background-color    = $base-background-color;
$tab-bar-border-color        = $base-border-color;
$tab-background-color        = $tab-bar-background-color;
$tab-background-color-active = lighten($tab-bar-background-color, 100%);
$tab-border-color            = $base-border-color;

$tab-height = 30px;

// size
$font-size  = 12px;
