.com-board .repo .repo-input {
    margin-bottom: 20px;
}
.com-board .board-content.env {
    display: flex;
    flex-wrap: wrap;
}
.com-board .board-content.env .com-env {
    margin: 0 2% 20px 0;
}
/* 自定义 tooltip 样式 */
.git-env-tooltip {
    padding-left: 4px;
    position: relative;
}
.git-env-tooltip .dash-tooltip {
    width: 220px;
}
