.access-url-container {
  color: $text-color;
  .access-url-panel {
    .panel-heading {
      background-color: $tab-bar-background-color;
      border-color: $tab-bar-border-color;

      input {
        background: $tab-bar-background-color;
        border: 1px solid $base-border-color;
        padding: 2px 10px;
        color: $text-color;
      }
    }
    .port-item {
      border-color: $tab-bar-border-color;
    }
  }
}