body {
    scrollbar-face-color: $tab-bar-background-color ;
    scrollbar-track-color: $base-border-color;
    scrollbar-highlight-color: $tab-bar-background-color;
    scrollbar-shadow-color: $tab-bar-background-color ;
    scrollbar-3dlight-color: $tab-bar-background-color;
    scrollbar-arrow-color: $text-color;
    scrollbar-darkshadow-color: $tab-bar-background-color;
}