.collaborators {
  color: $text-color;
  .collaborator .username .editing {
    color: $text-color-subtle;
  }
}

.collaboration-chat {
  color: $text-color;
  .chat-item {
    .chat-item-header {
      .chat-item-time {
        color: $text-color-subtle;
      }
    }
    .chat-item-body {
      color: $text-color;
    }
  }
  .chat-editor {
    border-color: $base-border-color;
  }
  .emoji-mart {
    background: $second-background-color;
    border-color: $base-border-color;
    .emoji-mart-category-label span {
      background: $second-background-color;
      color: $text-color;
    }
    .emoji-mart-category .emoji-mart-emoji:hover:before {
      background: $base-background-color;
    }
    .emoji-mart-search input{
      background-color: $base-background-color;
      border-color: $base-border-color;
      color: $text-color;
    }
  }
}