
.debug-accordion-header {
  background: $base-background-color !important;
  color: $text-color !important;
}

.rc-collapse {
  background: $base-top-menu-bar-background !important;
}

.rc-collapse-content {
  color: $text-color !important;
  background: $base-top-menu-bar-background !important;
}

.debug-frame-item-highliht {
  background: $tab-background-color-hover !important;
}

.debug-frame-unknown {
  opacity: 0.4;  
}

.debug-thread-state, .stack-frame-source, .exception-label, .debug-breakpoint-line, .debug-break-point-item, .debug-variable-scopes. .debug-collapse-container {
  color: $text-color !important;
}

.debug-logger {
  color: $text-color !important;
}

.debug-logger-container {
  font-size: 12px;
  background: $base-top-menu-bar-background !important;
}

.debugger-variable-normal {
  color: $panel-heading-background-color;
}

.debug-logger-stdout {
  color: $text-color !important;
}

.debug-logger-stderr {
  color: #f48771;
}
