
.debug-accordion-header {
  background: $base-background-color !important;
  color: $text-color !important;
}

.rc-collapse {
  background: $base-top-menu-bar-background !important;
}

.rc-collapse-content {
  color: $text-color !important;
  background: $base-top-menu-bar-background !important;
}

.debug-frame-item-highliht {
  background: $tab-background-color-hover !important;
}

.debug-frame-unknown {
  opacity: 0.4;  
}

.debug-thread-state, .stack-frame-source, .exception-label, .debug-breakpoint-line, .debug-break-point-item, .debug-variable-scopes. .debug-collapse-container {
  color: $text-color !important;
}

.debug-logger {
  color: $text-color !important;
}

.debug-logger-container {
  font-size: 12px;
  background: $base-top-menu-bar-background !important;
}

.debugger-variable-normal {
  color: $panel-heading-background-color;
}

.debug-logger-stdout, .debug-logger-console {
  color: $text-color !important;
}

.debug-logger-stderr {
  color: #f48771;
}

.expression-watcher-item-focus {
  background-color: $tree-view-background-color-highlight;
}

.zone-widget-container {
  height: 30px!important;
  display: flex;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(0, 122, 204);
  border-bottom-color: rgb(0, 122, 204);
  height: 54px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  top: 0px;
  overflow: hidden;
  user-select: none;
}
