
.debug-accordion-header {
  background: $base-background-color !important;
  color: $text-color !important;
}

.rc-collapse {
  background: $base-top-menu-bar-background !important;
}

.rc-collapse-content {
  color: $text-color !important;
  background: $base-top-menu-bar-background !important;
}

.debug-frame-item-highliht {
  background: $tab-background-color-hover !important;
}

.debug-frame-unknown {
  opacity: 0.4;  
}

.debug-thread-state, .stack-frame-source, .exception-label, .debug-breakpoint-line, .debug-break-point-item, .debug-logger, .debug-variable-scopes. .debug-collapse-container {
  color: $text-color !important;
}

.debug-logger-container {
  background: $base-top-menu-bar-background !important;
}
