.CodeMirror-merge-l-chunk-end {
  border-bottom: 1px solid #88e;
}
.CodeMirror-merge-l-chunk-start {
  border-top: 1px solid #88e;
}
.CodeMirror-merge-l-chunk {
  background: $app-background-color;
}
.CodeMirror-merge-gap {
  background-color: $app-background-color;
  border-color: $base-border-color;
}
.CodeMirror-merge {
  border-color: $base-border-color;
}

.git-merge {
  .diffModal {
    .loading {
      background-color: $app-background-color;
    }
  }
}
