.cm-s-monokai, .cm-s-material {
  &.CodeMirror {
    background: $base-background-color;
  }

  .CodeMirror-gutters {
    background: $base-background-color;
  }
}

.image-editor-loading {
  .fa-spinner {
    color: $text-color;
  }
}

.status-bar-editor-widgets {
  display: flex;
  align-items: stretch;
  .editor-widget {
    display: flex;
    align-items: center;
    padding: 0 8px;
    &.enabled {
      background-color: #444;
    }
  }
}
