.file-list-container {
  color: $text-color;
  background-color: #252526;
  .file-list-item {
    color: $text-color;
    &.focus {
      color: $text-color-highlight;
      background-color: $tree-view-background-color-highlight;
    }
  }
}