.filetree-node.focus {
  color: $text-color-highlight;
  > .filetree-node-bg {
    background-color: $tree-view-background-color-highlight;
  }
}

.filetree-container {
  color: $text-color;
  background-color: #252526;
  .filetree-node-container.highlight,
  .filetree-node.focus {
    background-color: $tree-view-background-color-highlight;
  }
}
