.form-control {
  background-color: $base-background-color;
  border-color: $base-border-color;
  color: $text-color;
}

.btn-default {
  background-color: $base-background-color;
  border-color: $base-border-color;
  color: $text-color;

  &:hover, &:active, &:active:hover {
    background-color: #000;
    border-color: $base-border-color;
    color: $text-color;
  }
}

hr {
  border-color: $base-border-color;
}