.ide-history .history-container  {
  .history-title {
    background-color: $base-top-menu-bar-background;
    border-color: $base-border-color;
    color: $text-color;
  }
  .public_fixedDataTableRow_main {
    background-color: $base-background-color;
    border-color: $base-border-color;
    color: $text-color;
  }
  .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: $base-background-color;
    border-color: $base-border-color;
    color: $text-color;
  }
  .public_Scrollbar_main.public_Scrollbar_mainActive, .public_Scrollbar_main:hover {
    background-color: $base-background-color;
  }

  .public_Scrollbar_main:hover .public_Scrollbar_face:after, .public_Scrollbar_mainActive .public_Scrollbar_face:after, .public_Scrollbar_faceActive:after {
    background-color: $base-top-menu-bar-background;
  }

  .public_Scrollbar_face:after {
    background-color: $base-top-menu-bar-background;
  }

  .public_fixedDataTableRow_highlighted, .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background-color: $base-top-menu-bar-background;
    border-color: $base-border-color;
    color: $text-color;
  }

  .public_fixedDataTableCell_main {
    background-color: $second-background-color;
    border-color: $base-border-color;
    color: $text-color;
  }

}

.git-logs-view {
  .flex-row {
    .message-text {
      color: $text-color;
    }
  }
}
