.markdown.content {
    color: $md-color;
    background: $md-bg;
    a.absent {
      color: #c00
    }
    h1 .octicon-link,
    h2 .octicon-link,
    h3 .octicon-link,
    h4 .octicon-link,
    h5 .octicon-link,
    h6 .octicon-link {
      display: none;
      color: $md-title-color
    }
    h1 {
      color: $md-title-color;
      border-bottom: 1px solid $md-border-color;
    }
    h2 {
      border-bottom: 1px solid $md-border-color;
      color: $md-title-color;
    }
    h5 {
      color: $md-color-2;
    }
    hr {
      border-top: 1px dashed $md-border-color;
    }
    blockquote {
      border-left: 4px solid $md-border-color;
      color: $md-color-2;
      background: $md-blockquote-bg;
    }
    table th {
      background: $md-bg-2;
    }
    table th,
    table td {
      border: 1px solid $md-border-color;
    }
    table tr {
      border-top: 1px solid $md-border-color-2;
      background-color: $md-bg
    }
    table tr:nth-child(2n) {
      background-color: $md-bg-3
    }
    img {
      background: $md-bg;
      border: 0px solid $md-bg-2;
    }
    span.frame > span {
      border: 1px solid $md-border-color;
    }
    span.frame span span {
      color: $md-color;
    }
    code,
    tt {
      //border: 1px solid $md-border-color;
      background-color: $md-bg-4;
    }
    .highlight pre,
    pre {
      background-color: $md-bg-4;
      border: 1px solid $md-border-color;
    }

  }