.mask-container {
  background: rgba(0, 0, 0, 0.8);
  .progress {
    background-color: $base-background-color;
    color: $text-color;
    border: 1px solid $base-border-color;
  }
}

.ide-bulletin {
  color: #ccc;
  background-color: #444;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
