.modal-container {
  .modal {
    background: $base-top-menu-bar-background;
    color: $text-color;
    .settings-header, .settings-header .tab-bar-header {
      border-color: $menu-border-color;
    }

    .settings-view {
      .modal-ops {
        border-color: $menu-border-color;
      }
    }
  }
}

.git-unstash-container .stash-list {
  border-color: $menu-border-color;
  background: $base-background-color;
}