.notic-container {
  color: $text-color;
  .notic-list-contianer {
    background-color: $tab-background-color;
  }
  .redirect {
    background-color: $menu-background-color;
    border-top: 1px solid $tab-background-color;  
  }
  .notic-list-header {
    background-color: $menu-background-color;  
  }

  .notic-list {
    background-color: $tab-background-color;  
    .notic-item-container {
      background-color: $tab-background-color;
      &:hover {
        background-color: $tab-background-color-active
      }
    }
    .notic-item-active {
      background-color: $tab-background-color-active
    }  
  }
  
}