.panel-container, .pane-container {
  background-color: $base-background-color;
  border: 1px solid $base-border-color;
  .panel {
    background-color: $base-top-menu-bar-background;
  }
}
.resize-bar {
  &.col-resize {
    border-color: $base-border-color;
  }
  &.row-resize {
    border-color: $base-border-color;
  }
}