
.plugin-dev-container {
  color: #ccc !important;
  .panel-heading {
    background-color: $pane-item-background-color;
    border-color: $tab-bar-border-color;
    color: #ccc !important;
  }
  .plugin-detail-panel {
    .plugin-dev-server {
      color: #ccc;
    }
  }
}
