
.plugin-dev-container {
  .panel-heading {
    height: 28px;
    line-height: 28px;
    background-color: $pane-item-background-color;
    padding: 0 10px;
    color: #ccc !important;
    border-color: $tab-bar-border-color;
    .fa {
      margin-right: 4px;
    }
  }  
}
