.settings-content {
  .settings-content-container {
    table {
      tr {
        .key {
          color: #fff;
          background-color: #666;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: #444;
        }
      }
    }
  }
}
