.device-mode-view {
    color: $text-color;
  .device-mode-toolbar {
    background-color: $tab-bar-background-color;
    border-bottom-color: $tab-bar-border-color;
    .device-mode-tool {
      border-color: $tab-bar-border-color;
    }
  }
  .device-mode-page-view {
    background: $base-background-color;
    .device-mode-page-info {
      background: $second-background-color;
    }
  }
}

.TopBar {
  color: $text-color;
  background-color: $tab-bar-background-color;
  border-color: $tab-bar-border-color;
}
.home-container {
  color: $text-color;
  .qr-cancel:hover, .appid-action > span:hover {
    color: $text-color-highlight;
  }
  .appid-title {
    color: $text-color;
  }
  .qr-info {
    color: $text-color;
  }
  .appid-input {

  }
  input {
    background: $tab-bar-background-color;
    border: 1px solid $base-border-color;
    padding: 0 10px;
    color: $text-color;
  }
  .appDetail-top {
    border-color: $base-border-color;
  }
  .appDetail-top .qr-withborder {
    border-color: $base-border-color;
  }
  .appDetail-basicinfo .detail-row {
    border-color: $base-border-color;
  }
  .footer-container {
    border-color: $base-border-color;
  }
}
