.welcome-page {
  // color: $text-color;
  color: #FFF;
  .subtitle {
    // color: $text-color-subtle;
  }
  .logo {
    filter: none;
  }
}

.changelog-page {
  color: #fff;
  h2 {
    border-bottom: 1px solid #555;
  }
}
