.dash-banner {
    width: calc(100% - 200px);
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    border-bottom: 1px solid #2d2d2d;
    font-weight: 700;
    color: #ccc;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.dash-banner .slash {
    color: #aaa;
}
.dash-banner .crumb {
    color: #aaa;
}
.dash-banner .crumb:hover {
    color: #18f;
}
