.dash-bulletin {
    width: 440px;
    padding: 15px;
    border-radius: 5px;
    color: #ccc;
    background-color: #444;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 300;
}
.dash-bulletin .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-bottom: 6px;
}
.dash-bulletin .top .title i {
    margin-right: 5px;
    font-size: 16px;
}
.dash-bulletin .close {
    font-size: 16px;
    color: #999;
    transform: rotate(45deg);
    cursor: pointer;
    transition: color .2s ease;
}
.dash-bulletin .close:hover {
    color: #ccc;
}
.dash-bulletin .content {
    font-size: 13px;
}
