.dash-bulletin {
    width: 990px;
    padding: 15px 35px;
    border-radius: 4px;
    color: #ccc;
    background-color: #444;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, 0);
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 300;
}
.dash-bulletin i {
    cursor: pointer;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 15px;
}
.dash-bulletin i:hover {
    color: #aaa;
}
