@import './styles/ui-variables';
@import './styles/tabs';
@import './styles/panes';
@import './styles/filetree';
@import './styles/menu';
@import './styles/bars';
@import './styles/git';
@import './styles/editor';
@import './styles/modal';
@import './styles/form';
@import './styles/history';
@import './styles/accordion';
@import './styles/markdown';
@import './styles/filelist';
@import './styles/base';
@import './styles/term';
@import './styles/mask';
@import './styles/git-merge';
@import './styles/diff';
@import './styles/settings';

// 插件用样式
@import './styles/weapp';
@import './styles/collaborators';
@import './styles/env';
@import './styles/access';
@import './styles/java';
@import './styles/notice';
@import './styles/welcome';

.ide-container
  a
    &:hover,
    &:focus
      color: #439be6;
