@import './styles/ui-variables';
@import './styles/tabs';
@import './styles/panes';
@import './styles/filetree';
@import './styles/menu';
@import './styles/bars';
@import './styles/git';
@import './styles/editor';
@import './styles/modal';
@import './styles/form';
@import './styles/history';
@import './styles/accordion';
@import './styles/markdown';
@import './styles/filelist';

// 插件用样式
@import './styles/weapp';
@import './styles/collaborators';
@import './styles/env';
@import './styles/access';
