.dash-bell .view-message {
    display: flex;
    padding: 10px;
    word-break: break-all;
    transition: background-color .3s ease;
}
.dash-bell .view-message.unread {
    cursor: pointer;
}
.dash-bell .view-message:hover {
    background-color: #444;
}
.dash-bell .view-message .point {
    width: 10px;
}
.dash-bell .view-message .dot {
    margin: 12px 6px 0 0;
}
.dash-bell .view-message .avatar {
    width: 28px;
    height: 28px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #fff;
}
.dash-bell .view-message .main {
    width: 217px;
}
.dash-bell .view-message .main .name {
    color: #999;
}
.dash-bell .view-message .main .content {
    max-height: 60px;
    color: #bbb;
    overflow: hidden;
}
.dash-bell .view-message .main .content.spread {
    max-height: none;
}
