.dash-bell .view-message {
    padding: 10px 10px 10px 16px;
    margin-bottom: 2px;
    word-break: break-all;
    background-color: #434343;
}
.dash-bell .view-message.unread {
    cursor: pointer;
}
.dash-bell .view-message .from {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #535353;
}
.dash-bell .view-message .from .dot {
    margin-right: 6px;
}
.dash-bell .view-message .from img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #fff;
}
.dash-bell .view-message .from .name {
    font-size: 16px;
}
