.dash-mask {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.dash-mask.active {
    display: block;
}
.dash-mask .prompt {
    width: 420px;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #ccc;
    background-color: #333;
    position: absolute;
    top: 40%;
    left: calc(50% - 210px);
}
.dash-mask .prompt .control {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.dash-mask .prompt button {
    width: 55px;
    height: 26px;
    font-size: 12px;
}
.dash-mask .prompt button:last-child {
    margin-left: 10px;
}
