.dash-bell {
    padding: 10px 15px 0;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
}
.dash-bell:hover .panel {
    opacity: 1;
    visibility: visible;
    bottom: 40px;
}
.dash-bell .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f00;
}
.dash-bell .bell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    color: #3b3b3b;
    background-color: #aaa;
    cursor: pointer;
    position: relative;
}
.dash-bell .bell:hover {
    background-color: #fff;
}
.dash-bell .bell .dot {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 1px;
    right: 1px;
}
.dash-bell .panel {
    width: 285px;
    border-left: 2px solid #3a3a3a;
    border-right: 2px solid #3a3a3a;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    background-color: #3a3a3a;
    box-shadow: 3px 0 30px rgba(0, 0, 0, .2);
    transition: opacity .4s ease, visibility .4s ease, bottom .4s ease;
    position: absolute;
    bottom: 30px;
    left: 15px;
    z-index: 10;
}
.dash-bell .panel .tab {
    display: flex;
    padding: 0 10px;
    height: 30px;
}
.dash-bell .panel .tab-item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    position: relative;
}
.dash-bell .panel .tab-item.on {
    border-bottom-color: #18f;
}
.dash-bell .panel .tab-item .dot {
    position: absolute;
    top: 4px;
    right: -3px;
}
.dash-bell .panel .view {
    max-height: 330px;
    background-color: #333;
    overflow-y: auto;
}
.dash-bell .panel .view::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.dash-bell .panel .view ol,
.dash-bell .panel .view ul {
    padding-left: 30px;
    list-style: disc;
}
.dash-bell .panel .view p {
    margin: 6px 0;
    font-size: 12px;
}
.dash-bell .panel .view blockquote {
    margin: 0;
    border-left: 2px solid #333;
}
.dash-bell .panel .view .no-bell {
    padding: 30px 0;
    text-align: center;
}
.dash-bell .panel .readall {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.dash-bell .panel .readall a {
    color: #ccc;
}
