.dash-globalmask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.dash-globalmask .panel {
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #ccc;
    background-color: #333;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.dash-globalmask .panel .title {
    font-size: 18px;
    margin-bottom: 20px;
}
.dash-globalmask .panel .line {
    margin-bottom: 10px;
}
.dash-globalmask .panel img {
    width: calc(100% - 15px);
    margin: 0 0 10px 15px;
    vertical-align: middle;
}
.dash-globalmask .panel .control {
    padding-top: 10px;
    text-align: center;
}
.dash-globalmask .panel button {
    width: 130px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .dash-globalmask .panel {
        width: 100%;
    }
}
