.dash-bell .view-notification {
    display: flex;
    padding: 10px;
    word-break: break-all;
}
.dash-bell .view-notification:hover {
    background-color: #444;
}
.dash-bell .view-notification.unread {
    cursor: pointer;
}
.dash-bell .view-notification .point {
    width: 10px;
}
.dash-bell .view-notification .dot {
    margin-top: 8px;
}
.dash-bell .view-notification .content {
    width: 250px;
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.dash-bell .view-notification .content::after {
    content: '';
    width: 60px;
    height: 20px;
    background: linear-gradient(to right, transparent, #333);
    position: absolute;
    bottom: 0;
    right: 0;
}
.dash-bell .view-notification:hover .content::after {
    background: linear-gradient(to right, transparent, #444);
}
.dash-bell .view-notification .content.spread {
    max-height: none;
    white-space: normal;
}
