.dash-bell .view-notification {
    padding: 10px 10px 10px 16px;
    margin-bottom: 2px;
    word-break: break-all;
    background-color: #434343;
    transition: background-color .2s;
    position: relative;
}
.dash-bell .view-notification:hover {
    background-color: #555;
}
.dash-bell .view-notification.unread {
    cursor: pointer;
}
.dash-bell .view-notification .dot {
    position: absolute;
    top: 17px;
    left: 8px;
}
