.dash-workspace .new {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 0 10px 20px;
    border: 1px solid #555;
    border-radius: 4px;
    color: #fff;
    background-color: #3b3b3b;
}
.dash-workspace .new.disabled {
    cursor: not-allowed;
}
.dash-workspace .new .avatar {
    width: 74px;
    height: 74px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #3f3f3f;
    position: relative;
}
.dash-workspace .new .avatar::before {
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: #303030;
    position: absolute;
    top: 35px;
    left: 17px;
}
.dash-workspace .new .avatar::after {
    content: '';
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background-color: #303030;
    position: absolute;
    top: 17px;
    left: 35px;
}
.dash-workspace .new .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 94px);
}
.dash-workspace .new .title {
    width: 100%;
    font-size: 16px;
}
.dash-workspace .new.disabled .title {
    color: #9d9d9d;
}
.dash-workspace .new .desc {
    width: 100%;
    margin-top: 10px;
}

@media screen and (min-width: 1800px) {
    .dash-workspace .new .avatar {
        width: 94px;
        height: 94px;
    }
    .dash-workspace .new .avatar::before {
        width: 60px;
        top: 45px;
    }
    .dash-workspace .new .avatar::after {
        height: 60px;
        left: 45px;
    }
}
