.dash-workspace .new-plugin {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 0 10px 20px;
    border: 1px solid #555;
    border-radius: 4px;
    color: #fff;
    background-color: #3b3b3b;
}
.dash-workspace .new-plugin .avatar {
    width: 74px;
    height: 74px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #3f3f3f;
    position: relative;
}
.dash-workspace .new-plugin .avatar::before {
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: #303030;
    position: absolute;
    top: 35px;
    left: 17px;
}
.dash-workspace .new-plugin .avatar::after {
    content: '';
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background-color: #303030;
    position: absolute;
    top: 17px;
    left: 35px;
}
.dash-workspace .new-plugin .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 94px);
}
.dash-workspace .new-plugin .title {
    width: 100%;
    font-size: 16px;
}
.dash-workspace .new-plugin .desc {
    width: 100%;
    margin-top: 10px;
}
