.workstation {
  height: 66px;
  background-color: #252526;
  position: relative;
  &.restore {
    height: 160px;
  }
  &.hide {
    display: none;  
  }
  .workstation-toolbar {
    position: absolute;
    right: 8px;
    top: 8px;
    color: white;
    i {
      margin-left: 4px;
      cursor: pointer;
    }
  }
  .tab-bar > .tab-show-list {
    margin-right: 90px;  
  }
}