.dash-profile {
    height: 30px;
    margin-bottom: 15px;
    position: relative;
}
.dash-profile .profile {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
}
.dash-profile:hover .panel {
    opacity: 1;
    pointer-events: all;
    bottom: 60px;
}
.dash-profile .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dash-profile:hover .caret {
    transform: rotate(-180deg);
}
.dash-profile .name {
    width: calc(100% - 70px);
    margin: 0 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dash-profile .caret {
    font-size: 16px;
    transition: transform .4s ease;
}
.dash-profile .panel {
    width: 140px;
    height: 180px;
    border-radius: 3px;
    background-color: #333;
    box-shadow: 3px 0 30px rgba(0, 0, 0, .2);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity .4s ease, bottom .3s ease;
    position: absolute;
    bottom: 70px;
    left: 15px;
    z-index: 20;
}
.dash-profile .menu-item {
    display: block;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    color: #ccc;
    transition: background-color .3s ease;
}
/* .dash-profile .menu-item:last-child {
    border-top: 1px solid #444;
} */
.dash-profile .menu-item:hover {
    background-color: #444;
}
