.dash-create .template-card {
    width: calc(25% - 14px);
    height: 60px;
}
.dash-create .template-card .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.dash-create .template-card .avatar img {
    height: 100%;
}
.dash-create .template-card .title {
    width: calc(100% - 50px);
    color: #fff;
}

@media screen and (min-width: 1800px) {
    .dash-create .template-card {
        height: 80px;
    }
    .dash-create .template-card .avatar {
        width: 60px;
        height: 60px;
    }
    .dash-create .template-card .title {
        width: calc(100% - 70px);
        font-size: 16px;
    }
}
@media screen and (max-width: 1440px) {
    .dash-create .template-card {
        width: calc(33.3% - 14px);
    }
}
@media screen and (max-width: 1150px) {
    .dash-create .template-card {
        width: calc(50% - 14px);
    }
}
@media screen and (max-width: 860px) {
    .dash-create .template-card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
