.dash-create .template-card {
    width: calc(25% - 14px);
    height: 60px;
}
.dash-create .template-card .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.dash-create .template-card .avatar img {
    height: 100%;
}
.dash-create .template-card .content {
    width: calc(100% - 50px);
}
.dash-create .template-card .title {
    color: #fff;
}

@media screen and (max-width: 1440px) {
    .dash-create .template-card {
        width: calc(33.3% - 14px);
    }
}
@media screen and (max-width: 1150px) {
    .dash-create .template-card {
        width: calc(50% - 14px);
    }
}
@media screen and (max-width: 860px) {
    .dash-create .template-card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
