.com-board {
    display: flex;
    padding-bottom: 40px;
}
.com-board .board-label {
    width: 130px;
}
.com-board .board-content {
    width: calc(100% - 130px);
}
.com-board .board-content.radio {
    display: flex;
    align-items: flex-start;
    margin: 0;
}
.com-board .radio .radio-option {
    display: flex;
    align-items: flex-start;
    margin-right: 30px;
    cursor: pointer;
}
.com-board .radio .ide-radio {
    margin-right: 8px;
}
.com-board .input-tip {
    margin-top: 3px;
    font-size: 12px;
    color: #989898;
}

.com-input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #444;
    border-radius: 4px;
    color: #b1b1b1;
    background-color: #2c2c2c;
    caret-color: #aaa;
    outline: none;
}
.com-textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 14px;
    color: #b1b1b1;
    background-color: #2c2c2c;
    caret-color: #aaa;
    resize: none;
    outline: none;
}
.com-button {
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #5097e8;
    outline: none;
    cursor: pointer;
}
.com-button.default {
    border: 1px solid #444;
    background-color: transparent;
}
.com-button.warn {
    background-color: #ff644f;
}
.com-button[disabled] {
    cursor: not-allowed;
}
.com-button:hover {
    background-color: #3788e4;
}
.com-button:active {
    background-color: #2277d7;
}
.com-button.default:hover {
    border-color: #444;
    background-color: #444;
}
.com-button.default:active {
    border-color: #555;
    background-color: #555;
}
.com-button.warn:hover {
    background-color: #ff644f;
}
.com-button.warn:active {
    background-color: #ff644f;
}

.com-card {
    margin: 0 15px 15px 0;
    border-radius: 4px;
    background-color: #3b3b3b;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.com-card .inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
}
.com-card:hover {
    background-color: #555;
}
.com-card.seleted {
    background-color: #555;
}
.com-card .title,
.com-card .desc {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.com-card .mark {
    display: none;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #2bd37d;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    right: -20px;
}
.com-card.seleted .mark {
    display: block;
}
.com-card .mark i {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 1px;
    left: 38%;
}
