@font-face {
    font-family: Source Code Pro;
    src: url(./static/sourcecodepro.woff2);
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    color: #18f;
    text-decoration: none;
    transition: color .2s ease;
}
a:hover {
    color: #3788e4;
}
a:active {
    color: #2277d7;
}
ul, ol {
    list-style: none;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding-right: 2px;
    background-color: #333;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #555;
}
::-webkit-scrollbar-button {
    display: none;
}

#dashboard {
    min-width: 300px;
    height: 100%;
    font-size: 14px;
    font-family: Source Code Pro, PingFangSC, Microsoft Yahei Light;
    color: #ccc;
    background-color: #333;
    -webkit-font-smoothing: antialiased;
}
#dash-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
}
